@font-face {
    font-family: 'Ephesis';
    src: url('../fonts/Ephesis-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MaShanZheng';
    src: url('../fonts/MaShanZheng-Regular.ttf') format('truetype');
}
